.dialog {
  width: min(378px, calc(100vw - 32px));
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question {
  margin: 0;
}

.error {
  display: block;
  color: var(--color-danger-500);
}
